@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    scroll-behavior: smooth;
}

.hero-section {
    background-image: url('../images/banner.png');
    background-size: cover;
    background-position: center;
}

a {
    color: #fff;
}
